#eagle, #underEye, #onNose, #EAG, #L, #E,
#S, #underEye, #onNose, #firstP, #firstH,
#firstI, #firstL, #firstA, #lowD, #lowE,
#lowL, #lowP, #lowH, #lowI, #lowA {
  opacity: 0; }

html, body {
  height: 100%; }

svg {
  height: auto;
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto; }

#eagle {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 2.4s;
  animation-fill-mode: forwards; }

#underEye {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 2.8s;
  animation-fill-mode: forwards; }

#onNose {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 3.2s;
  animation-fill-mode: forwards; }

#EAG {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 3.6s;
  animation-fill-mode: forwards; }

#L {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 4s;
  animation-fill-mode: forwards; }

#E {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 4.4s;
  animation-fill-mode: forwards; }

#S {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 4.8s;
  animation-fill-mode: forwards; }

#underEye {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 5.2s;
  animation-fill-mode: forwards; }

#onNose {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 5.6s;
  animation-fill-mode: forwards; }

#firstP {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 6s;
  animation-fill-mode: forwards; }

#firstH {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 6.4s;
  animation-fill-mode: forwards; }

#firstI {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 6.8s;
  animation-fill-mode: forwards; }

#firstL {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 7.2s;
  animation-fill-mode: forwards; }

#firstA {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 7.6s;
  animation-fill-mode: forwards; }

#lowD {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 8s;
  animation-fill-mode: forwards; }

#lowE {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 8.4s;
  animation-fill-mode: forwards; }

#lowL {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 8.8s;
  animation-fill-mode: forwards; }

#lowP {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 9.2s;
  animation-fill-mode: forwards; }

#lowH {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 9.6s;
  animation-fill-mode: forwards; }

#lowI {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 10s;
  animation-fill-mode: forwards; }

#lowA {
  animation-name: eagle;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 10.4s;
  animation-fill-mode: forwards; }

html {
  animation-name: green;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 10.4s;
  animation-fill-mode: forwards; }

@keyframes eagle {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes green {
  0% {
    background-color: white; }
  100% {
    background-color: #6db764; } }

/*# sourceMappingURL=style.css.map */
